@font-face {
  font-family: "NotoSans-Regular";
  src: url("font/NotoSans-Regular.ttf");
}
.block{
  height: 800px;
  background-color: #00cc99;
  width: 100%;
}
.select_trim{
  margin: 0;
  width: 230px;
  font-family: "NotoSans-Regular";
  position: relative;
  .text{
    display: block;
    position: relative;
    padding: 5px 25px 7px 5px;
    border: 1px #e0e0e0 solid;
    cursor: pointer;
    span{
      font-size: 14px;
      display: block;
    }
    i{
      border: 5px solid transparent;
      border-top: 6px solid black;
      position: absolute;
      right: 7px;
      top: 11px;
    }
    &.active{
      i{
        top: 6px;
        transform: rotate(180deg);
      }
    }
  }
  .list{
    position: absolute;
    background-color: #fbfbfb;
    border-left: 1px #e0e0e0 solid;
    border-right: 1px #e0e0e0 solid;
    border-bottom: 1px #e0e0e0 solid;
    max-height: 175px;
    overflow-y: auto;
    div{
      padding: 5px 5px;
      font-size: 14px;
      cursor: pointer;
      &:hover{
        background-color: #f3f3f3;
      }
      &.active{
        background-color: #ff4343;
        color: #fff;
      }
    }
    &::-webkit-scrollbar-thumb {
      background: #0a0a0a;
      border-left: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      border-radius: 9px;
    }
    &::-webkit-scrollbar {
      width: 9px;
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }
  }
}